.city {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.days {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}


.weather {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 100%);
    //grid-template-rows: repeat(6,540px);
}


.hour-container {
    text-align: center;
    line-height: 1.5%;
    margin-top: 5%;

    font: {
        family: "IBM Plex Sans", sans-serif;
        weight: 500;
        style: normal;
        size: 45px;
    }

    .cityHour {

        font: {
            family: "IBM Plex Sans", sans-serif;
            weight: 350;
            style: normal;
            size: 25px;
        }
    }
}

.day-container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



    .dateDay {
        font: {
            family: Menlo,Roboto Mono,monospace;
            weight: 500;
            style: italic;
            size: 30px;
        }
    }

    div {
        font : {
            family: Menlo,Roboto Mono,monospace;
            weight: 350;
            style: normal;
        }
    }
}