.weather {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 40%;


    .day-container {
        border: 2px solid white;
        margin-top: 5%;
        margin-bottom: 2.5%;
    }
}