body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: rgb(89,184,144);
    background: linear-gradient(0deg, rgba(89,184,144,1) 10%, rgba(255,204,95,1) 100%); 
    background-repeat: no-repeat;
    color: rgb(5, 6, 45);

}

@import 'darkmode';
@import 'darkmodeButton';
@import 'main';
@import 'header';
@import 'footer';
@import 'weather';
@import 'submit';
@import 'input';
@import 'detailsButton';
@import 'desktop';