@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background: rgb(89, 184, 144);
  background: linear-gradient(0deg, rgb(89, 184, 144) 10%, rgb(255, 204, 95) 100%);
  background-repeat: no-repeat;
  color: rgb(5, 6, 45);
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body.darkmode {
  background: rgb(21, 32, 43);
  background: linear-gradient(180deg, rgb(21, 32, 43) 6%, rgb(25, 39, 52) 51%, rgb(34, 48, 60) 99%);
  color: #FAC921;
}
body.darkmode .logo {
  filter: invert(100%) sepia(55%) saturate(3856%) hue-rotate(334deg) brightness(98%) contrast(98%);
}
body.darkmode .details {
  --hover-btn-color: #a3dafb;
  --default-btn-color: #FAC921;
}
body.darkmode input {
  background-color: #303136;
  color: #FAC921;
}

body.darkmode .animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #FAC921;
  box-shadow: 0 0 0 2px #FAC921;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  margin-top: 8%;
}
body.darkmode .animated-button svg {
  position: absolute;
  width: 24px;
  fill: #FAC921;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
body.darkmode .animated-button .arr-1 {
  right: 16px;
}
body.darkmode .animated-button .arr-2 {
  left: -25%;
}
body.darkmode .animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #FAC921;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
body.darkmode .animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
body.darkmode .animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}
body.darkmode .animated-button:hover .arr-1 {
  right: -25%;
}
body.darkmode .animated-button:hover .arr-2 {
  left: 16px;
}
body.darkmode .animated-button:hover .text {
  transform: translateX(12px);
}
body.darkmode .animated-button:hover svg {
  fill: #212121;
}
body.darkmode .animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #FAC921;
}
body.darkmode .animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

body.darkmode .weather .day-container {
  border: 2px solid white;
  background: rgb(5, 6, 45);
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}
body.darkmode .modal {
  background-color: rgba(0, 0, 0, 0.7);
}
body.darkmode .modal-content {
  background-color: rgb(5, 6, 45);
}

.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

.city {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.days {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.weather {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 100%);
}

.hour-container {
  text-align: center;
  line-height: 1.5%;
  margin-top: 5%;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 45px;
}
.hour-container .cityHour {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 350;
  font-style: normal;
  font-size: 25px;
}

.day-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.day-container .dateDay {
  font-family: Menlo, Roboto Mono, monospace;
  font-weight: 500;
  font-style: italic;
  font-size: 30px;
}
.day-container div {
  font-family: Menlo, Roboto Mono, monospace;
  font-weight: 350;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15%;
  margin-top: 7%;
  margin-left: -3%;
  margin-right: -3%;
}
header .logo {
  width: 45%;
  filter: invert(8%) sepia(47%) saturate(1928%) hue-rotate(216deg) brightness(96%) contrast(112%);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
}
footer img {
  width: 7.5%;
}

.weather {
  display: grid;
  max-width: 100%;
  text-align: center;
  justify-content: center;
  grid-template-columns: repeat(1, 100%);
  line-height: 40%;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}
.weather .day-container {
  border: 2px solid rgb(5, 6, 45);
  margin-top: 5%;
  margin-bottom: 2.5%;
  background: rgba(255, 212, 20, 0.2) 0 15px 30px -5px;
  border-radius: 17px;
  margin-right: 2.5%;
}
.weather .day-container .insideCard {
  width: 92%;
}

.weatherimg {
  margin-left: 7%;
  margin-top: 3%;
}
.weatherimg img {
  width: 90%;
  border-radius: 10%;
}

@media (max-width: 600px) {
  .chart {
    width: 90% !important;
    height: auto !important;
  }
}
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #212121;
  box-shadow: 0 0 0 2px #212121;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  margin-top: 8%;
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #212121;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #212121;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #a3dafb;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #a3dafb;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #212121;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.quotebutton {
  position: sticky;
  bottom: 5px;
}

.input {
  color: #a3dafb;
  font-size: 0.9rem;
  background-color: #212121;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-radius: 5%;
  border-bottom: var(--border-height) solid var(--border-before-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.input:focus {
  outline: none;
}

.input:focus + .input-border {
  width: 100%;
}

.form-control {
  position: relative;
  --width-of-input: 300px;
}

.input-alt {
  font-size: 1.2rem;
  padding-inline: 1em;
  padding-block: 0.8em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-border-alt {
  height: 3px;
  background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
  transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.input-alt:focus + .input-border-alt {
  width: 100%;
}

.autocomplete {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.autocomplete-items {
  position: absolute;
  background-color: #212121;
  color: #a3dafb;
  z-index: 1000;
  width: 70%;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 43%;
  font-family: "IBM Plex Sans";
  font-weight: 500;
  font-style: normal;
}

.autocomplete-items div {
  padding: 5px 10px;
  cursor: pointer;
}

.autocomplete-items div:hover {
  background-color: #f0f0f0;
}

.details {
  --btn-default-bg: rgb(41, 41, 41);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: .3s;
  --btn-letter-spacing: .1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #FAC921;
  --default-btn-color: #a3dafb;
  --font-size: 16px;
  --font-weight: 600;
  --font-family: Menlo,Roboto Mono,monospace;
}

.details {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
  margin-left: 29% !important;
  margin-bottom: 5%;
}

.details span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.details span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.details:hover, .ui-btn:focus {
  background: var(--btn-hover-bg);
}

.details:hover span, .ui-btn:focus span {
  color: var(--hover-btn-color);
}

.details:hover span::before, .ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }
  5% {
    content: ".";
  }
  10% {
    content: "^{";
  }
  15% {
    content: "-!";
  }
  20% {
    content: "#$_";
  }
  25% {
    content: "№:0";
  }
  30% {
    content: "µ{+.";
  }
  35% {
    content: "@}-?";
  }
  40% {
    content: "?{4@%";
  }
  45% {
    content: "=.,^!";
  }
  50% {
    content: "?2@%";
  }
  55% {
    content: ";1}]";
  }
  60% {
    content: "?{%:%";
    right: 0;
  }
  65% {
    content: "|{f[4";
    right: 0;
  }
  70% {
    content: "{4%0%";
    right: 0;
  }
  75% {
    content: "'1_0<";
    right: 0;
  }
  80% {
    content: "{0%";
    right: 0;
  }
  85% {
    content: "]>'";
    right: 0;
  }
  90% {
    content: "4";
    right: 0;
  }
  95% {
    content: "2";
    right: 0;
  }
  100% {
    content: "";
    right: 0;
  }
}
@media screen and (min-width: 1024px) {
  header {
    margin-left: -15%;
    margin-right: -15%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  header .logo {
    width: 15%;
  }
  main .hour-container {
    font-size: 65px;
  }
  main .hour-container .cityHour {
    font-size: 45px;
  }
  main .details {
    margin-left: 20% !important;
  }
  main .weather {
    display: grid;
    max-width: 100%;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(1, 100%);
    font-size: smaller;
  }
  main .weather .day-container {
    max-width: 95%;
  }
  main .weather .details {
    font-size: 11.5px;
  }
  main .weatherimg {
    margin-left: 32%;
    margin-top: 3%;
  }
  main .weatherimg img {
    width: 50%;
    border-radius: 10%;
  }
  footer img {
    width: 2%;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */